---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% include base_path %}

<div class="timeline">

{% if site.publication_category %}
  {% for category in site.publication_category %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      
      <div class="timeline-item">
        <span class="timeline-date">{{ post.date | date: "%B, %Y" }} | {{ post.venue }}</span>
        <p class="timeline-title">
          <a href="{{ base_path }}{{ post.url }}">{{ post.title }}</a>
        </p>
        
        <div class="timeline-content">
          {% if post.excerpt %}
            <p>{{ post.excerpt | markdownify | strip_html }}</p>
          {% endif %}
        </div>
      </div>

    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    <div class="timeline-item">
      <span class="timeline-date">{{ post.date | date: "%B, %Y" }} | {{ post.venue }}</span>
      <p class="timeline-title">
        <a href="{{ base_path }}{{ post.url }}">{{ post.title }}</a>
      </p>
      <div class="timeline-content">
        {% if post.excerpt %}
          <p>{{ post.excerpt | markdownify | strip_html }}</p>
        {% endif %}
      </div>
    </div>
  {% endfor %}
{% endif %}
</div>